/* .bungkus-testi {
    display: flex;
    gap: 20px;
    width: 100%;
    background-color: blueviolet;
}

.card-testi {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 550px;
    height: 200px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.img-testi {
    align-self: center;
    width: 25%;
}

.konten-testi {
    width: 75%;
    align-self: center;
} */