.ourServices {

}

.image-ourServices {
    width: 100%;
    padding: 60px 16px;
}

.image-ourServices img {
    width: 100%;
}

.desc-ourServices {
    padding: 16px;
}

.desc-ourServices h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.desc-ourServices p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

@media only screen and (min-width: 992px) {

.ourServices {
    display: flex;
}

.image-ourServices {
    width: 50%;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 60px;
}

.desc-ourServices {
    width: 50%;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 50px;
}

.desc-ourServices h3 {
    margin-bottom: 24px;
}

.desc-ourServices p {
    margin-bottom: 24px;
}

}