.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 58px;
    gap: 32px;
    background: #0D28A6;
    border-radius: 13px;

    margin: 60px 16px;
}

.banner h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.banner p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #FFFFFF;
}

.banner button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 160px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border-color: blue;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

@media only screen and (min-width: 992px) {

    .banner {
        padding: 64px 270px;
        gap: 32px;
        background: #0D28A6;
        margin: 100px 136px;
    }
}    