.kotakCari {
    width: 1047px;
    height: 100px;
    margin: auto;
    margin-top: -65px;
    z-index: 999;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.buttonSearch a {
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.buttonSearch {
    width: 92px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: #FFFFFF;

}

.cars {
    width: 190px;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
}

