.space {
    width: 100%;
    height: 150px;
    background-color: #F1F3FF;
}

.kotakCarList {
    width: 1047px;
    height: 100px;
    margin: auto;
    z-index: 999;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-top: -50px;
}

.cars {
    width: 190px;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
}

.buttonEdit a {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: blue;
}

.buttonEdit {
    width: 60px;
    height: 36px;
    background: white;
    border-radius: 2px;
    border: 2px solid blue;

}

