.whyUs {
    padding: 16px;

}

.konten1-whyUs {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.konten2-whyUs {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 24px;
}

.konten3-whyUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 992px) {

.kontenwy3all {
    width: 25%;
}


.konten3-whyUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

}