.hero-header {
    display: flex;
    flex-direction: column;
    background-color: #F1F3FF;
}

.konten-hero {
    width: 100%;
    padding: 16px;
}
.konten-hero h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 16px;
}
.konten-hero p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.button-hero a {
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}


.konten-hero button {
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: #FFFFFF;
}

.image-hero img {
    width: 100%;
}

@media only screen and (min-width: 992px) {

.hero-header {
    flex-direction: row;
    justify-content: space-between;
}
.konten-hero {
    width: 50%;
    padding-left: 136px;
    padding-top: 65px;
}
.image-hero {
    width: 50%;
    margin-top: 15px;
}

}