header {
    background-color: #F1F3FF;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    
}
.logo-nav {
    width: 100px;
    height: 34px;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    background: #0D28A6;
}

.humberger-nav {
    padding-right: 16px;
    padding-top: 29px;
    position: absolute;
    top: 0;
    right: 0;
    
}

.navigation-nav {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    /* border-top: 1px solid black; */
    opacity: 1;
    transition: all 0.5s ease;
    left: -110%;
}

.navigation-nav.active {
    left: 0px;   
}

.list-navigation li {
    display: inline;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

.list-navigation a {
    text-decoration: none;
}

.list-navigation a:visited {
    color: black;
}

.list-navigation a:link {
    color: black;
}

.list-navigation a:hover {
    background-color: black;
    color: #F1F3FF;;
    padding: 5px;
    border-radius: 3px;

}




.list-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.list-navigation button {
    width: 81px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: #FFFFFF;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}





@media only screen and (min-width: 992px) {

    /* --------------------AWAL Header-------------------- */
        .humberger-nav {
            display: none;
        }
    
        .logo-nav {
            margin-left: 136px;
        }
    
        .navigation-nav {
            display: inline;
            width: 50%;
            background-color: #F1F3FF;
            height: 1vh;
            position: relative;
            left: 0px;
        }

        /* .list-navigation li {
            display: inline;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        } */

        /* .list-navigation a {
            text-decoration: none;
        } */

        /* .list-navigation a:visited {
            color: black;
        } */

        .list-navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 35px;
            margin-right: 136px;
        }
        .list-navigation button {
            width: 81px;
            height: 36px;
            background: #5CB85F;
            border-radius: 2px;
            border: #FFFFFF;
    
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }    