.testimoni {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 30px;
}

.kalimat1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.kalimat2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.testimobile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testidekstop {
    display: none;
}

.testimoni-buttonCarousel {
    display: flex;
    justify-content: space-between;
}

.buttonCarousel-kiri {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 12px;
}

.buttonCarousel-kanan {
    display: flex;
    width: 50%;
    padding-left: 12px;
}


@media only screen and (min-width: 992px) {

.testimobile {
    display: none;
}

.testidekstop {
    display: block;
    overflow: hidden;
}

}